* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
body {
  background-color: #080808;
  color: #fff;
}
#header {
  width: 100%;
  height: 122vh;
  background-image: url(images/white.png);
  background-size: cover;
  background-position: center;
}

.container {
  padding-top: 50px;
  padding: 10px 10px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  width: 140px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}
nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: width 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}
.header-text {
  margin-top: 20%;
  font-size: 30px;
  color: #ffffff;
}
.header-text h1 {
  font-size: 60px;
  margin-top: 20px;
}
.header-text h1 span {
  color: #ff004f;
}
#about {
  padding: 80px 0;
  color: #ababaa;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col1 {
  flex-basis: 35%;
}
.about-col1 img {
  width: 100%;
  border-radius: 20%;
}
.about-col2 {
  flex-basis: 60%;
}
.sub-title {
  font-size: 50px;
  font-weight: 500;
  color: white;
}

.about-col2 p {
  padding-top: 3%;
}
.sub-title {
  font-size: 60px;
  font-weight: 600;
  color: #fff;
}

.tab-title {
  display: flex;
  margin: 20px 0 40px;
}

.tablinks {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.tablinks::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: width 0.5s;
}

.tablinks.active-link::after {
  width: 100%;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}
.tab-contents ul li span {
  color: red;
  font-size: 16px;
}

.tab-contents {
  display: none;
}
.tab-contents.active-tab {
  display: block;
}

/*-------------services----------------*/
#services {
  padding: 30px 0;
}
.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.services-list div {
  background-color: #262626;
  border: 2px solid #f4f2f6;
  padding: 45px;
  font-size: 14px;
  font-weight: 300;
  border-radius: 10px;
  transition:
    background 0.5s,
    transform 0.5s;
}

.services-list div i {
  font-size: 50px;
  margin-top: 30px;
}
.services-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}
.services-list div a {
  text-decoration: none;
  color: #440ee5;
  font: size 12px;
  margin-top: 20px;
  display: inline-block;
}
.services-list div:hover {
  background: #a855f7;
  border-color: #a855f7;
  transform: translateY(-10px);
}
/*--------------Portfolio-----------------*/
.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.work img {
  width: 100%;
  height: 90%;
  border-radius: 10px;
  border: 2px solid white;
  transition: transform 0.5s;
}
.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(232, 33, 33, 0.639), hsl(0, 82%, 63%));
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}
.work:hover img {
  transform: scale(1.1);
}
.work:hover .layer {
  height: 100%;
}
.layer a {
  margin-top: 20px;
  color: #0e19ed;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}

.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 2px solid #ff004f;
  padding: 14px 50px;
  border-radius: 10px;
  text-decoration: none;
  color: #fff;
  transition: background 0.5s;
}
.btn:hover {
  background: red;
}

/*---------------------internship---------------*/
#internship {
  padding: 60px 0;
}

.intern-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 35px;
  margin-top: 50px;
}

.intern {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.intern img {
  width: 100%;
  height: 260px; /* Same height for every image */
  object-fit: cover; /* Crop image instead of stretching */
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.int-layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #b16af4);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  text-align: center;
  transition: height 0.5s;
}

.int-layer h3 {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 600;
}

.int-layer p {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.int-layer a {
  text-decoration: none;
  color: #fff;
  background: #000;
  padding: 10px 20px;
  border-radius: 25px;
  transition: 0.3s;
}

.int-layer a:hover {
  background: #fff;
  color: #a855f7;
}

.intern:hover img {
  transform: scale(1.1);
}

.intern:hover .int-layer {
  height: 100%;
}
.intern img {
  width: 100%;
  height: 260px;
  object-fit: contain;
  background: #fff;
}

/*---------------------Certificate---------------*/

#certificate {
  padding: 60px 0;
}
.certificate-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  gap: 35px;
  margin-top: 30px;
}
.cert {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.cert img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  display: block;
  border-radius: 10px;
  border: 5px solid hwb(240 3% 5%);
  transition: transform 0.5s;
}
.int-cert {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #b16af4);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  text-align: center;
  transition: height 0.5s;
}
.int-cert h3 {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 600;
}

.int-cert p {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.int-cert a {
  text-decoration: none;
  color: #fff;
  background: #000;
  padding: 10px 20px;
  border-radius: 25px;
  transition: 0.3s;
}

.int-cert a:hover {
  background: #fff;
  color: #a855f7;
}

.cert:hover img {
  transform: scale(1.1);
}

.cert:hover .int-cert {
  height: 100%;
}
.cert img {
  width: 100%;
  height: 260px;
  object-fit: contain;
  background: #fff;
}

/*===============Contact================*/
.contact-left {
  flex-basis: 35%;
}

.contact-right {
  flex-basis: 60%;
}

.contact-left p {
  margin-top: 30px;
}

.contact-left p {
  color: #9dacf6;
  margin-right: 15px;
  font-size: 20px;
}
.social-icon {
  margin-top: 30px;
}

.social-icon a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}

.social-icon a:hover {
  color: #ff004f;
  transform: translateY(-5px);
}
